.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/lib/gson-2.8.9.jar
/out/
/.idea/artifacts/
/gradle/wrapper/
/.idea/
/jdk-17+20-jre/conf/management/jmxremote.access
/jdk-17+20-jre/conf/management/jmxremote.password.template
/jdk-17+20-jre/conf/management/management.properties
/jdk-17+20-jre/conf/security/policy/limited/default_local.policy
/jdk-17+20-jre/conf/security/policy/limited/default_US_export.policy
/jdk-17+20-jre/conf/security/policy/limited/exempt_local.policy
/jdk-17+20-jre/conf/security/policy/unlimited/default_local.policy
/jdk-17+20-jre/conf/security/policy/unlimited/default_US_export.policy
/jdk-17+20-jre/conf/security/policy/README.txt
/jdk-17+20-jre/conf/security/java.policy
/jdk-17+20-jre/conf/security/java.security
/jdk-17+20-jre/conf/logging.properties
/jdk-17+20-jre/conf/net.properties
/jdk-17+20-jre/conf/sound.properties
/jdk-17+20-jre/legal/java.base/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.base/aes.md
/jdk-17+20-jre/legal/java.base/asm.md
/jdk-17+20-jre/legal/java.base/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.base/c-libutl.md
/jdk-17+20-jre/legal/java.base/cldr.md
/jdk-17+20-jre/legal/java.base/icu.md
/jdk-17+20-jre/legal/java.base/LICENSE
/jdk-17+20-jre/legal/java.base/public_suffix.md
/jdk-17+20-jre/legal/java.base/unicode.md
/jdk-17+20-jre/legal/java.base/zlib.md
/jdk-17+20-jre/legal/java.compiler/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.compiler/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.compiler/LICENSE
/jdk-17+20-jre/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.datatransfer/LICENSE
/jdk-17+20-jre/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.desktop/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.desktop/colorimaging.md
/jdk-17+20-jre/legal/java.desktop/freetype.md
/jdk-17+20-jre/legal/java.desktop/giflib.md
/jdk-17+20-jre/legal/java.desktop/harfbuzz.md
/jdk-17+20-jre/legal/java.desktop/jpeg.md
/jdk-17+20-jre/legal/java.desktop/lcms.md
/jdk-17+20-jre/legal/java.desktop/libpng.md
/jdk-17+20-jre/legal/java.desktop/LICENSE
/jdk-17+20-jre/legal/java.desktop/mesa3d.md
/jdk-17+20-jre/legal/java.instrument/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.instrument/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.instrument/LICENSE
/jdk-17+20-jre/legal/java.logging/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.logging/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.logging/LICENSE
/jdk-17+20-jre/legal/java.management/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.management/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.management/LICENSE
/jdk-17+20-jre/legal/java.management.rmi/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.management.rmi/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.management.rmi/LICENSE
/jdk-17+20-jre/legal/java.naming/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.naming/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.naming/LICENSE
/jdk-17+20-jre/legal/java.net.http/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.net.http/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.net.http/LICENSE
/jdk-17+20-jre/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.prefs/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.prefs/LICENSE
/jdk-17+20-jre/legal/java.rmi/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.rmi/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.rmi/LICENSE
/jdk-17+20-jre/legal/java.scripting/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.scripting/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.scripting/LICENSE
/jdk-17+20-jre/legal/java.se/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.se/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.se/LICENSE
/jdk-17+20-jre/legal/java.security.jgss/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.security.jgss/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.security.jgss/LICENSE
/jdk-17+20-jre/legal/java.security.sasl/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.security.sasl/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.security.sasl/LICENSE
/jdk-17+20-jre/legal/java.smartcardio/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.smartcardio/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.smartcardio/LICENSE
/jdk-17+20-jre/legal/java.sql/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.sql/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.sql/LICENSE
/jdk-17+20-jre/legal/java.sql.rowset/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.sql.rowset/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.sql.rowset/LICENSE
/jdk-17+20-jre/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.transaction.xa/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.transaction.xa/LICENSE
/jdk-17+20-jre/legal/java.xml/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.xml/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.xml/bcel.md
/jdk-17+20-jre/legal/java.xml/dom.md
/jdk-17+20-jre/legal/java.xml/jcup.md
/jdk-17+20-jre/legal/java.xml/LICENSE
/jdk-17+20-jre/legal/java.xml/xalan.md
/jdk-17+20-jre/legal/java.xml/xerces.md
/jdk-17+20-jre/legal/java.xml.crypto/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/java.xml.crypto/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/java.xml.crypto/LICENSE
/jdk-17+20-jre/legal/java.xml.crypto/santuario.md
/jdk-17+20-jre/legal/jdk.accessibility/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.accessibility/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.accessibility/LICENSE
/jdk-17+20-jre/legal/jdk.charsets/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.charsets/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.charsets/LICENSE
/jdk-17+20-jre/legal/jdk.crypto.cryptoki/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.crypto.cryptoki/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.crypto.cryptoki/LICENSE
/jdk-17+20-jre/legal/jdk.crypto.cryptoki/pkcs11cryptotoken.md
/jdk-17+20-jre/legal/jdk.crypto.cryptoki/pkcs11wrapper.md
/jdk-17+20-jre/legal/jdk.crypto.ec/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.crypto.ec/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.crypto.ec/LICENSE
/jdk-17+20-jre/legal/jdk.crypto.mscapi/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.crypto.mscapi/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.crypto.mscapi/LICENSE
/jdk-17+20-jre/legal/jdk.dynalink/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.dynalink/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.dynalink/dynalink.md
/jdk-17+20-jre/legal/jdk.dynalink/LICENSE
/jdk-17+20-jre/legal/jdk.httpserver/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.httpserver/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.httpserver/LICENSE
/jdk-17+20-jre/legal/jdk.incubator.foreign/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.incubator.foreign/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.incubator.foreign/LICENSE
/jdk-17+20-jre/legal/jdk.incubator.vector/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.incubator.vector/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.incubator.vector/LICENSE
/jdk-17+20-jre/legal/jdk.internal.vm.ci/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.internal.vm.ci/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.internal.vm.ci/LICENSE
/jdk-17+20-jre/legal/jdk.jdwp.agent/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.jdwp.agent/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.jdwp.agent/LICENSE
/jdk-17+20-jre/legal/jdk.jfr/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.jfr/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.jfr/LICENSE
/jdk-17+20-jre/legal/jdk.jsobject/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.jsobject/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.jsobject/LICENSE
/jdk-17+20-jre/legal/jdk.localedata/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.localedata/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.localedata/cldr.md
/jdk-17+20-jre/legal/jdk.localedata/LICENSE
/jdk-17+20-jre/legal/jdk.localedata/thaidict.md
/jdk-17+20-jre/legal/jdk.management/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.management/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.management/LICENSE
/jdk-17+20-jre/legal/jdk.management.agent/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.management.agent/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.management.agent/LICENSE
/jdk-17+20-jre/legal/jdk.management.jfr/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.management.jfr/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.management.jfr/LICENSE
/jdk-17+20-jre/legal/jdk.naming.dns/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.naming.dns/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.naming.dns/LICENSE
/jdk-17+20-jre/legal/jdk.naming.rmi/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.naming.rmi/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.naming.rmi/LICENSE
/jdk-17+20-jre/legal/jdk.net/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.net/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.net/LICENSE
/jdk-17+20-jre/legal/jdk.nio.mapmode/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.nio.mapmode/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.nio.mapmode/LICENSE
/jdk-17+20-jre/legal/jdk.sctp/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.sctp/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.sctp/LICENSE
/jdk-17+20-jre/legal/jdk.security.auth/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.security.auth/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.security.auth/LICENSE
/jdk-17+20-jre/legal/jdk.security.jgss/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.security.jgss/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.security.jgss/LICENSE
/jdk-17+20-jre/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.unsupported/LICENSE
/jdk-17+20-jre/legal/jdk.xml.dom/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.xml.dom/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.xml.dom/LICENSE
/jdk-17+20-jre/legal/jdk.zipfs/ADDITIONAL_LICENSE_INFO
/jdk-17+20-jre/legal/jdk.zipfs/ASSEMBLY_EXCEPTION
/jdk-17+20-jre/legal/jdk.zipfs/LICENSE
/jdk-17+20-jre/lib/jfr/default.jfc
/jdk-17+20-jre/lib/jfr/profile.jfc
/jdk-17+20-jre/lib/security/blocked.certs
/jdk-17+20-jre/lib/security/cacerts
/jdk-17+20-jre/lib/security/default.policy
/jdk-17+20-jre/lib/security/public_suffix_list.dat
/jdk-17+20-jre/lib/classlist
/jdk-17+20-jre/lib/fontconfig.bfc
/jdk-17+20-jre/lib/fontconfig.properties.src
/jdk-17+20-jre/lib/jawt.lib
/jdk-17+20-jre/lib/jrt-fs.jar
/jdk-17+20-jre/lib/jvm.cfg
/jdk-17+20-jre/lib/jvm.lib
/jdk-17+20-jre/lib/modules
/jdk-17+20-jre/lib/psfont.properties.ja
/jdk-17+20-jre/lib/psfontj2d.properties
/jdk-17+20-jre/lib/tzdb.dat
/jdk-17+20-jre/lib/tzmappings
/jdk-17+20-jre/release
